<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Category</title>

</head>
<body>
	
	<th:block th:insert="Header.html"></th:block>

	<div class="container-fluid">

		<div class="card">
			<div class="card-header text-center bg-primary text-white "><h5>Category Edit Form</h5></div>
			
			<div class="card-body">
			
			<form action="/category/update" method="post" th:object="${catedit}" >
				
				<div class="row p-2">
			      <div class="col-4">Category Name</div>
			      <div class="col-6">
			          <input type="text" name="cname" th:field="*{cname}" class="form-control">
			      </div>
			   </div>
			   
			    <div class="row p-2">
			      <div class="col-4"></div>
			      <div class="col-6">
			          <input type="submit" value="Update" class="btn btn-success btn-lg">
			      </div>
			   </div>
			   
			   <input type="hidden" th:field="*{id}">
			   
			</form>  
			   
			</div>
		</div>

	</div>
	
	<th:block th:insert="footer.html"></th:block>
</body>
</html>