<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Wardrobe Clothing Products</title>
</head>

<body>
  	
  	<th:block th:insert="header.html"></th:block> 	
   
   <form action="/category/add" method = "post">
  	<div class="text-center">
  	
  	 <div class="row p-2">
		<div class="col-4">Category Name</div>
			<div class="col-6">
				<input type="text" name="cname" class="form-control" placeholder="Ex:- Childs clothing...."><br>		
			</div>
		</div>
	</div>
			   
		<div class="row p-1">
			      <div class="col-4"></div>
			      		<div class="col-6">
			         		 <input type="submit" value="Add" class="btn btn-success btn-lg">
			      		</div>
			   	</div>		
	  
   </form>
   
   <th:block th:insert="footer.html"></th:block>

  </body>

</html>