<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Product</title>

</head>
<body>
	
	<th:block th:insert="header.html"></th:block>

	<div class="container-fluid">

		<div class="card">
			<div class="card-header text-center bg-primary text-white "><h5>Product Edit Form</h5></div>
			
			<div class="card-body">
			
		<form action="/product/update" method="post" th:object="${prodObject}" enctype="multipart/form-data">
			   
			   <div class="text-center">
  	
		  	 <div class="row p-2">
				<div class="col-4">Name</div>
					<div class="col-6">
						<input type="text" name="prod_name" th:field="*{prod_name}" class="form-control" placeholder="Enter product name..."><br>		
					</div>
				</div>
				
				
				<div class="row p-2">
				<div class="col-4">Price</div>
					<div class="col-6">
						<input type="text" name="prod_price" th:field="*{prod_price}" class="form-control" placeholder="Enter product price..."><br>		
					</div>
				</div>
				
				
				<div class="row p-2">
				<div class="col-4">Code</div>
					<div class="col-6">
						<input type="text" name="prod_code" th:field="*{prod_code}" class="form-control" placeholder="Enter product code.."><br>		
					</div>
				</div>
				
				<div class="row p-2">
				<div class="col-4">Description</div>
					<div class="col-6">
						<input type="text" name="prod_description" th:field="*{prod_description}" class="form-control" placeholder="Short description of product..."><br>		
					</div>
				</div>
				
				<div class="row p-2">
				<div class="col-4">Quantity</div>
					<div class="col-6">
						<input type="text" name="prod_quantity" th:field="*{prod_quantity}" class="form-control" placeholder="Quantity of product..."><br>		
					</div>
				</div>
				
			
				<div class="row p-2">
					      <div class="col-4">Category</div>
					      <div class="col-6">
					         
					         <select name="category"  th:field="*{category}" class="form-control">	
					         	<option th:each="cat:${catlist}" th:value="${cat.id}">[[${cat.cname}]]</option>			        			         
					         </select>
					     
					      
					      </div>
					</div><br>
	
				<div class="row p-2">
			      <div class="col-4">Select Image</div>
			      <div class="col-6">
			          <input type="file" name="image" class="form-control">
			      </div>
			   </div>
			
				</div><br>
				
					   
				<div class="row p-1">
					      <div class="col-4"></div>
					      		<div class="col-6">
					         		 <input type="submit" value="Update" class="btn btn-success btn-lg">
					      		</div>
					   	</div><br><br>
			   
			   <input type="hidden" th:field="*{id}">
			   
			</form>  
			   
			</div>			
			
		</div>
	</div>

	<th:block th:insert="footer.html"></th:block> 
	
</body>
</html>